.navbar {
  @apply sticky w-full flex justify-between;
}

.navigation {
  @apply fixed top-0 w-full h-full pt-50;
  &[data-active='true'] {
    @apply bg-[#57aba4];
    transition: background-color 0.7s ease;
  }

  &[data-active='false'] {
    transition: all 0.7s ease;
    opacity: 0;
  }
}
